html, body {
  margin: 0;
  height: 100%;
}

line {
  stroke: red;
}

path {
  stroke: green;
  fill: none;
  stroke-width: 2px;
}

circle {
  fill: indianred;
}

text {
  font-family: arial;
  fill: white;
  font-size: 11px;
}